body{
    margin: 0;
    font-family: 'Patrick Hand', cursive;
    
    line-height: 1.6;
    font-size: 1rem;
    color: 333;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,h2,h3,h4{
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*intro*/
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url(../images/intro.jpg) center no-repeat;
    background-size: cover ;

}
.intro__inner{
    width: 100%;
    max-width: 666px;
    margin: 0 auto;
}

.intro__title{
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
}
.intro__subtitle{
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.7;
}
/*header - augšējā daļa*/

.header{
    width: 100%;

    margin: 0;
    font-family: 'Patrick Hand', cursive;
    
    line-height: 1.6;
    font-size: 1rem;
    color: white;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
}

.header__inner{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header__container{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__logo{
    font-size: 2rem;
}
/*nav - pogas "About" un "Downland"*/
.nav{
    text-transform: uppercase;
    margin: 5px;
}

.nav__link{
    transition: color .35s linear;
    
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    color: white;
    position: relative;

    text-decoration: none;
}


.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    

    background-color: red;
    opacity: 0;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .3s linear;
}

.nav__link:hover{
    color:red;
}

.nav__link:hover::after{
    opacity: 1;
}

/*nav__language - valodes*/
.nav__language{
    margin: 3px;
}
.nav__link__language{
    transition: color .35s linear;
    
    display: inline-block;
    vertical-align: top;
    margin: 0 3px;
    color: white;
    position: relative;
    font-weight: 300;

    text-decoration: none;
}
.nav__link__language:hover{
    color: aqua;
}

.l1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background-color: red;
    background-size: cover ;
}
.l1__footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;

    background-color: aqua;
}
.container__2{
    width: 100%;
    max-width: 600px;
}
.d1{
    background-color: aliceblue;
    justify-content: left;
    margin-top: 100px;
}

.d2{
    background-color: darkcyan;
    flex-direction: row;
}